body {
  text-align: center;
  color: black;

}

.navbar {
  background-color: #FCDFCE;
  width: 100%;
}

.nav-link {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #8A7D80;
}

#title {
  font-family: 'Dosis', sans-serif;
  color: #8A7D80;
  font-size: 40px;

}

#subtitle {
  font-family: 'Dosis', sans-serif;
  color: #8A7D80;
  font-size: 28px;
}

.homeText {
  font-family: 'Dosis', sans-serif;
  color: #BEC6C3;
  font-size: 28px;
}

#homeBackground {
  background-color: #BEC6C3;
}

.helper {
  width: 200px;
  height: 200px;
}

.environment {
  width: 200px;
  height: 200px;
}

#instructionsText {
  text-align: center;
  font-family: 'Dosis', sans-serif;
  color: #8A7D80;
}

#classroomHelper {
  padding-bottom: 20vw;
  padding-left: 10vw;
  top: 20vw;
  left: 30vw;
  position: absolute;
}

#instructionsBubble {
  margin-left: 40%;
  margin-bottom: 35%;
  margin-right: 50%;
}

.number {
  width: 200px;
  height: 200px;
}

#classroomBackground {
  justify-content: center;
  position: relative;
  z-index: -1;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

